<p>
  <strong>House:</strong>
  <%= @house.name %>
</p>

<div>
  <li><%= @house.address %></li>
  <li><%= @house.city %></li>
  <li><%= @house.state %></li>
  <li><%= @house.zip %></li>
  <li><%= @house.description %></li>
</div>
